@{
    ViewBag.Title = "Contact Hotel.Com";
}
<h2>@ViewBag.Title.</h2>

<address>
    Beach Road<br />
    Jumeirah<br />
    <abbr title="Phone">P:</abbr>
    777 777 777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@hotel.com">Support@hotel.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hotel.com">Marketing@hotel.com</a>
</address>