@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hotel.Com</h1>
    <p class="lead">Welcome to Hotel.Com.</p>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <h2>Offers !!!</h2>
        <p>
            Our offers for this season.
        </p>
    </div>
    <div class="col-md-6 text-center">
        <h2>Attractions</h2>
        <p>Our attractions.</p>
    </div>
</div>